<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thmyleaf.org"
      layout:decorate="~{layout-sidebar}">
<head>
    <meta charset="UTF-8">
    <style>
      /* CSS code to center text horizontally and vertically */
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      h1 {
        text-align: center;
        font-size: 3rem;
      }
    </style>
    <title>Exchanges</title>
</head>
<body id="body-pd" layout:fragment="sidebar-body">
        <h1>Whoops... Availability of exchange rates are coming soon</h1>
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <table class="table table-hover">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th scope="col">Currency</th>-->
<!--                        <th scope="col">Exchange rate against the dollar</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="entry : ${exchangeRates}">-->
<!--                        <td th:text="${entry.key}"></td>-->
<!--                        <td th:text="${entry.value}"></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
</body>
</html>