<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thmyleaf.org"
      layout:decorate="~{layout-sidebar}">
<head>
    <meta charset="UTF-8">
  <style>
      /* CSS code to center text horizontally and vertically */
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      h1 {
        text-align: center;
        font-size: 3rem;
      }
    </style>
    <title>Transfer Funds Confirmation</title>
</head>
<body id="body-pd" layout:fragment="sidebar-body">


      <h1>Funds have been sent</h1>


</body>
</html>